.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1.5% 1% 1.5%;
    border-bottom: 1px solid black;
}

.headerTitle{
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.accountInfo{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    max-width: 20vw;
}

.accountInfo:hover{
    cursor: pointer;
}

.userIcon{
    width: 2em;
}

.userName{
    font-weight: bold;
    margin: auto;
    text-align: right;
    width: 100%;
}