:root{
    --dark-blue: #1077C3;
    --light-blue: #49BCE3;
    --yellow: #FEC310;
    --maroon: #56042C;
    --green: #27AE60;
}

.leaguesTitle{
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

.leagues{
    background-color: lightgray;
    padding: 1vh 5vw;
    margin: 0 25vw 5vh 25vw;
    border-radius: 15px;
}

.noLeaguesFiller{
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
}

.league{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--green);
    margin: 1vw;
    padding: 0.5vw;
    border-radius: 15px;
    color: white;
}

.leagueTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5vw;
}

.leagueLogo{
    width: 2em;
}

.leagueInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    font-size: 1.5em;
}

.leagueInfo > p {
    margin: auto;
}

.leagueGoToBTN{
    background-color: var(--yellow);
    padding: 1em;
    border: 0;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

.leagueGoToBTN:hover{
    cursor: pointer;
}

#leagueInfoPopupBG{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: darkgray;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#leagueInfoPopupContent{
    background-color: white;
    width: 20vw;
    height: fit-content;
    /* min-height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 2vh 3vw;
}

#closeLeagueInfoPopup{
    width: fit-content;
    margin: auto;
    background-color: var(--maroon);
    border: 0;
    border-radius: 15px;
    color: white;
    padding: 3% 4%;
    font-family: var(--font);
}

.infoIcon{
    width: 0.75em;
}

.infoIcon:hover{
    cursor: pointer;
}