.group-stage-wrapper{
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 2vh;
}

.group-stage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8vw;
    padding-bottom: 2vh;
}

.group{
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5em;
    margin: 0 1vw;
}

.group-stage-title{
    text-align: center;
    font-size: 1.2em;
    margin: 0;
}

.group-table{
    border-radius: 15px;
    padding: 0.2em;
    border-spacing: 0 5px;
    margin: auto;
    width: 18vw;
}

.group-header > tr > td {
    background-color: white !important;
}

tr > td {
    background-color: var(--light-gray-bg);
}

tr > td > * {
    margin: 0;
    align-items: center;
}

td{
    text-align: center;
    padding: 0 0.4em; /* MAYBE CHANGE THIS FOR EACH ELEMENT */
}

.group-header{
    font-weight: bold;
}

.left-round{
    border-radius: 15px 0 0 15px;
}

.right-round{
    border-radius: 0 15px 15px 0;
}

.player-circle{
    width: 1em;
    height: 1em; 
    border-radius: 50%;
}

#player-circle-p1{
    background-color: var(--player-1-color);
}

#player-circle-p2{
    background-color: var(--player-2-color);
}

#player-circle-p3{
    background-color: var(--player-3-color);
}

#player-circle-p4{
    background-color: var(--player-4-color);
}

#player-circle-p9{
    background-color: var(--player-9-color);
}

.team-flag{
    width: 2.5em;
    height: 1.7em;
    vertical-align: middle;
    padding: 5px 0;
}

.team-name{
    text-align: left;
}