:root{
    --player-1-color: #FF0000;
    --player-2-color: #00FF00;
    --player-3-color: #0000FF;
    --player-4-color: #FFFF00;
    --player-9-color: #FFFFFF;
    --light-gray-bg:  #EEEEEE;
}

html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-content{
    display: flex;
    margin: 1vh 3vw;
}

.section-title{
    text-align: center;
    font-size: 1.5em;
    margin: 1em 0;
}

.live-status{
    display: flex;
    flex-direction: column;
}

/* Collapsable Sections */

.section-title:hover{
    cursor: pointer;
}

/* .stage{
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
}

.group-stage{
    opacity: 1;
    transition: opacity 1s ease;
    transition: height 3s ease;
} */

.collapsed{
    display: none;
}