.section-title{
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

.schedule{
    display: flex;
    flex-direction: column;
    /* width: 60vw;
    max-width: 800px; */
    padding: 0 0.6em;
    /* margin: auto 0; */
    border: 1px solid black;
    border-radius: 15px;
}

.stage-title{
    font-size: 1em;
    align-self: left;
    font-weight: 600;
    margin: 0.5em 0 0.5em 0;
}

.fixture-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    margin: 0.3em 0;
}

.fixture{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    background-color: var(--light-gray-bg);
    border-radius: 15px;
}

.team{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 42%;
}

.team-name{
    margin: 0 0;
}

.team#home{
    justify-content: right;
}

.team#home > * {
    margin-left: 0.5em;
}

.team#away{
    justify-content: left;
}

.team#away > * {
    margin-right: 0.5em;
}

.score{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 15px;
    margin: 0.2em 0;
    padding: 0 0.2em;
    width: 7%;
}

.score > p {
    margin: 0 0;
}

.gameStatus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;

    background-color: var(--light-gray-bg);
    border-radius: 15px;
}

.text{
    margin: 0 0;
}

.live{
    color: red;
}

.player-circle{
    width: 1em;
    height: 1em; 
    border-radius: 50%;
}

.team-flag{
    width: 2.5em;
    height: 1.7em;
    vertical-align: middle;
    padding: 5px 0;
}

/* Small Fixture */

#smallFixture-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 600;
    margin: 0.3em 0;
}

#smallFixture-fixture{
    width: 65%;
}