
.standings{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.player-scores{
    border: 1px solid black;
    border-radius: 15px;
    width: fit-content;
    margin: auto;
    text-align: center;
    top: 10vh;
    position: sticky;
}

.player-standings-table{
    border-spacing: 0 5px;
    margin: 10px;
}

.player > td {
    padding: 0.7em;
}

.player-username {
    font-size: 1.5em;
}

.player-position, .player-points {
    font-size: 1.2em;
}

.player > td {
    background-color: var(--light-gray-bg);
}

.player-position{
    border-radius: 15px 0 0 15px;
    /* this rounds the left side of each row */
}

.player-points{
    border-radius: 0 15px 15px 0;
    /* this rounds the right side of each row */
}

.player-circle{
    width: 1em;
    height: 1em; 
    border-radius: 50%;
}

/* Flag tooltip */

.flags-tooltip{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: var(--light-gray-bg); */
    background-color: rgba(238, 238, 238, 1);
    border: 1px solid black;
    border-radius: 15px;
    display: none;
    width: fit-content;
    padding: 1em;
}

.flags-tooltip > .flag {
    width: 2.5em;
    height: 1.7em;
    padding: 0.5em;
}
